@import "/style/cssUtils.css";

.cursor {
    cursor: pointer;
}

.logo {
    width: 100px;
    margin-left: 30px;
    cursor: pointer;
}

.navbar {
    padding: 10px;
}

.margine-nav {
    margin: 16px;
}

.bi-globe2 {
    font-size: 18px;
    cursor: pointer;
    margin-right: 8px;
}

.btn-profile {
    font-size: 25px;
    color: rgb(105, 105, 105);
    position: relative;
}

/* section img */


.img-button {
    background-color: #fff;
    border: 0;
}


.cnt-img {
    min-height: 400px;
}


.cnt-img-detail{
    height: 200px;
    border: 5px solid white;
}



.img-main {
    border: 5px solid white;
    height: 400px;
    background-image: url(/assets/1.webp);
    background-position: center;
    background-size: cover;
    border-radius: 30px 0 0 30px;

}

.img-detail-1 {
    background-image: url(/assets/2.webp);
    background-position: center;
    background-size: cover;
}

.img-detail-2 {
    background-image: url(/assets/3.webp);
    background-position: center;
    background-size: cover;
    border-radius: 0 25px 0 0;
}

.img-detail-3 {
    background-image: url(/assets/4.webp);
    background-position: center;
    background-size: cover;     
}

.img-detail-4 {
    background-image: url(/assets/5.webp);
    background-position: center;
    background-size: cover;
    border-radius: 0 0 25px 0;
}

/* end section img */



.shadow.border-black.container {
    width: 400px;
    height: 280px;
}

.no-border{
    border: 0px solid transparent;
}

.form {
    width: 300px;
    height: 90px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.input:first-child {
    border: 0;
    border-radius: 10px 0 0;
    padding: 10px 0;
}

.input:nth-of-type(2) {
    border: 0;
    border-left: 1px solid #000000;
    border-radius: 0px 10px 0px 0px;
    padding: 10px 0;
}



.border-custom{
    border: 0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
}


.Date {
    width: 125px;
    font-size: 20px;
}

.cl-pink {
    color: var(--airbnb-pink);
}

.custom-button {
    background-color: #ff385c;
    color: #fff;
}

.custom-button:hover {
    background-color: #ff385c;
}

.d-flex.flex-column.w-75 input{
    height: 38px;
    border: 1px solid #00000020;
}

.col-xl-8.d-flex.flex-column input:first-of-type {
    padding-bottom: 100px;
    border: 1px solid #00000020;
}

.img-user {
    width: 50px;
}


/*FOOTER*/

.destination-section {
    display: flex;
    margin-top: 0.938rem;
}

.sezioni div {
    margin-left: 0.625rem;
}

.sezioni h6 {
    font-weight: bold;
}

footer {
    background-color: white;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 1rem;
    border-top: 0.063rem solid rgb(212, 211, 211);
}

.footer-info {
    margin-left: 4.4rem;
}

.copy {
    padding-left: 4.8rem;
}

h5 {
    line-height: 2.2;
}

a, i, img {
    cursor: pointer;
}

/* Media Queries */

@media screen and (max-width:1200px) {
    .description-main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    
    }
}

@media screen and (max-width:426px) {
    .margine-nav {
        margin: 16px 0;
    }

    #profilebutton {
        padding: 0;
    }

    .user-section {
        gap: 10px;
    }
}

/* tolto margine al logo */
@media screen and (min-width:0px) and (max-width:576px) {
    .logo {
        margin-left: 0;
    }
}


.hidden {
    display: none;
}