@import "/style/cssUtils.css";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* NAv Prinipale*/

nav {
    height: 70px;
    padding: 15px 75px;   
}
.cnt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 110px;
}

.userHost{
    padding: 20px;
     margin: 5px;
     display: flex;
     align-items: center;    
}

/*Main*/

.mainDX {
    margin-top: 60px;
    padding-left: 80px;
}


.titoloEsign{
    display: flex;
    align-items: center;
    gap: 4px; 
    margin-left: 80px;
}

.cirlceRosa{
    height: 30px;
    width: 30px;
    background-color: palevioletred;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    color: white;
}

/*buttoni*/

.buttonHouses{
    padding-left: 62px !important; 
}

.buttonMain{
    display: flex;
    margin-left: 70px;
    gap: 10px;
   
}

.buttonNuovo{
    margin-top: 20px;
    height: 30px;
    width: 135px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}

.buttonMain :last-child {
    width: 100px;
}

#firstButton{
    margin-left: 80px;
}
.btn{
    border-radius: 15% !important;
    height: 37px !important;
    border: 2px solid black;
    font-size: small;
}
#lastButton{
    margin-left: 10px !important;
    width: 70px !important;
}

/*span dopo i buttoni*/

.enterDt, .covid{
    margin-top: 60px;
    padding-left: 80px;
}

.covid{
    margin-bottom: 10px;
}

/*appartment images*/


.col img{
   height: 180px;
   width: 230px;
   border-radius: 5%;
}

.strisco{
    color: red; /* da cambiare */
    font-weight: 900;
}
.numeri{
    font-weight: bold;
}
.sottoFoto{
    font-size: small;
    margin-bottom: .1rem;
}

#firstContainer{
    margin-bottom: 9rem;
}

/*FOOTER*/

.destination-section {
    display: flex;
    margin-top: 15px;
}

.sezioni div {
    margin-left: 10px;
    }

.sezioni h6 {
    font-weight: bold;
}

footer {
    background-color: white;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 1rem;
    border-top: 1px solid rgb(212, 211, 211);
}

.footer-info {
    margin-left: 4.4rem;
}

.copy {
    padding-left: 4.8rem;
}
