* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    height: 70px;
    padding: 15px 75px;
    
}
.cnt {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo img{
    width: 110px;
}

.usereHost{
    padding: 15px;
     margin: ;
}