* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  rgb(0, 0, 0);
}

nav {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.logo {
    width: 90px;
    margin-left: 150px;
}

.center-nav ul {
    display: flex;
    margin-left: 45px;
} 

.center-nav ul li {
    padding: 0 20px;
}

ul li {
    list-style: none;
}

.right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 90px;
    padding: 0 10px;
    background-color: white;
    color: rgb(113, 113, 113);
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45vw;
    height: 65px;
    margin: auto;
    background-color: white;
    border-radius: 40px;
}

.search-icon {
    background-color: rgb(228, 29, 86);
    width: 35px;
    height: 35px;
    border-radius: 70px;
    text-align: center;
    align-content: center;
    color: white;
    margin-right: 10px;
}

h6 {
    margin-bottom: 0;
}

.calendar {
    margin-left: 26px;
    color: black;
}

filter .p-2 h6 {
    margin-left: 10px;
}

.hero {
    width: 90%;
    height: 620px;
    background-image: url(/assets/home.2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.hero-cnt h1 {
    font-size: 100px;
    color: rgb(255, 255, 255);
    line-height: 0.8;
}

.hero-cnt {
    width: 180px;
}

.btn-hero {
    margin-top: 20px;
    padding: 6px 10px;
    border-radius: 5px;
}

section {
    background-color: white;
    padding: 30px 0;
}

.sezioni {
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.img-section {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.destination-section {
    display: flex;
    margin-top: 15px;
}

.sezioni div {
    margin-left: 10px;
}

.sezioni h6 {
    font-weight: bold;
}

footer {
    background-color: white;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 1rem;
    border-top: 1px solid rgb(212, 211, 211);
}

.footer-info {
    margin-left: 4.4rem;
}

.copy {
    padding-left: 4.8rem;
}


/* media query per la visualizzazione a tutti gli schermi */


@media screen and (max-width: 480px) {
    .logo {
        margin-left: 10px;
    }
}

.icn-social {
    margin-left: 56rem;
    font-size: 1.1rem;
}
